	<div class="row">
		<div class="span16">
        	<div class="box">
        		<div class="box-header">
        			<i class="icon-book"></i>
                        <h5>Novo cadastro</h5>
                </div>
                <div class="box-content">
						  <ul class="nav nav-tabs">
						    <li class="active"><a data-toggle="tab" href="#home">Cliente</a></li>
						    <li><a data-toggle="tab" href="#menu1">Veiculo</a></li>
						  </ul>
					<div class="container">

						  <div class="tab-content">

						    <div id="home" class="tab-pane fade in active">
							    <div class="span14">
									<%= render 'formC', cliente: @cliente %>
								</div>
							</div>

							<div id="menu1" class="tab-pane fade">
						       <div class="span14">
						       <%= render 'formV', veiculo: @veiculo %>
						       </div>
						    </div>   

						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>


<%= link_to 'Back', clientes_path %>
