<div class="span16">


<%= pie_chart Orcamento.group(:status).count, colors: ["pink", "green", "blue", "red"] %>

<%= link_to "selecione", busca_orc_path("Ativo"),:remote => true%>

</br>
</br>

	
	<table id="table_dash">
  <thead>
    <tr>
      <th class="span2", onclick="sortTable(0)">Status</th>
      <th class="span3">Cliente</th>
      <th class="span2">Veiculo</th>
      <th class="span2">Placa</th>
      <th class="span2">Quilometragem</th>
      <th class="span2">Valor total</th>
      <th class="span4"></th>
    </tr>
  </thead>

  <tbody>
	

      </tbody>
      </table>

</div>