.leftcontact {
  width:49.5%; 
  float:left;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 15px 15px;
}


table
{
	width: auto;
	border-collapse: collapse;
}

thead
{
	display: block;
	width: auto;
	overflow: auto;
	color: #fff;
	background: #048AE4;
}

tbody
{
	display: block;
	width: auto;
	height: 300px;
	background: #BBBBBB;
	overflow: auto;
}


th,td
{
	padding: .5em 1em;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #fff;
}

.modal-lg{
    /* new custom width */
    width: 900px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -475px;
}

.height-label{
	height: 60px;
}

.teste{
	background: black;
}

hr{
	border: 1px solid grey;
}