.leftcontact {
  width:49.5%; 
  float:left;
  border-right: 1px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width:49.5%;
  float:right;
  box-sizing: border-box;
  padding: 0px 0px 15px 15px;
}


table
{
	width: auto;
	border-collapse: collapse;
}

thead
{
	display: block;
	width: auto;
	overflow: auto;
	color: #fff;
	background: #048AE4;
}

tbody
{
	display: block;
	width: auto;
	height: 200px;
	background: #BBBBBB;
	overflow: auto;
}

th,td
{
	padding: .5em 1em;
	text-align: left;
	vertical-align: top;
	border-left: 0px solid #fff;
}